<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trading post</title>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://gstatic.com/firebasejs/3.5.2/firebase.js"></script>
  <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="config.js"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" href="/favicon.png" />
</head>
<body>
  <div id="app">
    <template v-if="loadedStores">
      <ul class="nav nav-tabs" role="tablist">
        <template v-for="store in storeMeta">
          <li role="presentation" v-bind:class="{ active: store.active }">
            <a v-bind:href="'#'+store.cssId" v-bind:aria-controls="store.cssId" role="tab" data-toggle="tab" class="store-tab">
              <img v-if="store.icon" v-bind:src="store.icon" class="tab-icon">
              <span v-else>{{store.name}}</span>
              <div class="count" v-if="needCount[store.id]">
                <span class="badge">{{needCount[store.id]}}</span>
              </div>
            </a>
          </li>
        </template>
      </ul>
      <div class="tab-content items">
          <template v-for="store in storeMeta">
            <div role="tabpanel" class="tab-pane" v-bind:class="{ active: store.active }" v-bind:id="store.cssId">
              <ul class="list-group">
                <li class="list-group-item add" v-bind:data-store="store.id">
                  <input v-model="newItem" class="form-control add" placeholder="add item" @keyup.enter="clickAddItem">
                  <button class="btn btn-default add" v-on:click="clickAddItem"><i class="fa fa-plus"></i></button>
                  <div class="tool-buttons">
                    <div class="undo" v-if="show.undo">
                      <a class="btn btn-default" v-on:click="undo" v-bind:disabled="undoDisabled"><i class="fa fa-undo"></i></a>
                    </div>
                    <div class="confirm" v-if="show.confirm">
                      <a><i class="fa fa-check"></i></a>
                    </div>
                  </div>
                </li>
                <list-item v-for="item in sortedNeed[store.id]" :item="item" v-on:check="check" v-on:quantity="quantity" :key="item.id">
                </list-item>
                <div v-if="!sortedNeed[store.id].length" class="empty">
                  Nothing on the list.
                </div>
              </ul>
            </div>
          </template>
    </template>
    <template v-else>
      <div class="loading">
        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
      </div>
    </template>
  </div>

  <script type="text/x-template" id="list-item-template">
    <li class="list-group-item item" v-bind:class="{ need: item.need, have: !item.need }" v-on:mousedown="startTap" v-on:mouseup="endTap">
      <div class="checkbox">
        <label>
          <input type="checkbox" v-bind:id="item.id" v-bind:value="item.name" v-on:change="check" v-model="checked">
          {{item.name}}
          <span v-if="item.need > 1 || editable">
            ({{item.need}})
          </span>
        </label>
      </div>
      <div v-if="editable" class="btn-group btn-group-xs" role="group" aria-label="quantity">
        <button class="quantity btn-group btn-group-xs" role="group" aria-label="-" v-on:click="remove">-</button>
        <button class="quantity btn-group btn-group-xs" role="group" aria-label="+" v-on:click="add">+</button>
      </div>
      <i v-if="item.delivery" class="fa fa-truck delivery"></i>
    </li>
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="app.js"></script>
  <script src="lib/bootstrap3-typeahead.min.js"></script>
</body>
</html>
